<ion-header>
  <ion-toolbar>
    <ion-title>list Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let asignatura of Asignaturas">
      <ion-label>
        <h2>Nombre: {{asignatura.nombre}}</h2>
        <h3>Hora: {{asignatura.horas}}</h3>
        <h3>Aula: {{asignatura.aula}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/update/', asignatura.idasignatura]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="removeAsignatura(asignatura)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
