<ion-header>
  <ion-toolbar>
    <ion-title>Create Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="asignaturaForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Horas</ion-label>
        <ion-input formControlName="horas" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Aula</ion-label>
        <ion-input formControlName="aula" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
