<ion-header>
  <ion-toolbar>
    <ion-title>list Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let profesor of Profesores">
      <ion-label>
        <h2>Nombre: {{profesor.nombre}}</h2>
        <h3>Apellido: {{profesor.apellido}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/update/', profesor.idprofesores]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="removeProfesor(profesor)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
