<ion-header>
  <ion-toolbar>
    <ion-title>list Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let alumno of Alumnos">
      <ion-label>
        <h2>Nombre: {{alumno.nombre}}</h2>
        <h3>Apellido: {{alumno.apellido}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/update/', alumno.idalumnos]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="removeAlumno(alumno)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>